---
import "../styles/global.css";

const years = new Date().getFullYear() - 2023;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="antialiased font-mono bg-linear-to-b flex flex-col items-center from-zinc-900 to-zinc-950 text-zinc-100"
  >
    <main
      class="min-h-screen container flex flex-col lg:flex-row-reverse px-12"
    >
      <aside
        class="lg:w-5/12 lg:sticky lg:top-0 lg:max-h-screen py-28 flex flex-col lg:items-end lg:text-right gap-6"
      >
        <div class="w-10/12">
          <div class="space-y-2 mb-6">
            <h1 class="font-bold text-4xl">Cristhian Flores</h1>
            <p class="text-xl font-semibold">Fullstack Developer</p>
          </div>
          <p class="text-zinc-400">
            Desarrollador web con más de {years} años de experiencia creando aplicaciones
            profesionales
          </p>
        </div>
      </aside>
      <div class="w-7/12 text-zinc-300 flex flex-col gap-6 py-28">
        <!-- About me -->
        <div>
          <p>
            Soy un desarrollador web bilingüe con inglés avanzado (C1) con más
            de 2 años de experiencia como freelancer, desarrollando aplicaciones
            con frameworks de frontend como React.Js y Vue.Js; lenguajes de
            programación como PHP, JavaScript, TypeScript y Golang; he trabajado
            en la planificación, desarrollo y mantenimiento de más de 10
            proyectos de empresas pymes y emprendedores; y he trabajado con
            plataformas de Cloud Computing como DigitalOcean y AWS de forma
            profesional y para proyectos personales.
          </p>

          <p></p>
        </div>
        <div class="min-h-screen"></div>
        <div class="min-h-screen"></div>
      </div>
    </main>
  </body>
</html>
